# Ignore node_modules
node_modules/

# Ignore system files
.DS_Store
Thumbs.db
NTUSER.*
*.lock

# Ignore user directories
AppData/
Local Settings/
Desktop.ini

# Ignore IDE/project files
.idea/
.vscode/
*.log
